<%= form_with url: note_path do |f| %>
<%# <%= form_for @note do |f| %>

  <% if @own_notes.present? %>

    <% @own_notes.each do |note| %>
    　
    <%= check_box_tag 'note[id][]', note.id, checked = false, :id => "note_#{note.id} " %>

    <div class="note btn note_btn" >
      <ul>
        <li>
          <div class="note_body">
            <div class="note_content">
              <%= note.content %>
              <% if note.image.present? %>
                <img src="<%= note.image %>" class="note_image" >
              <% end %>
              <%= note.count %>
                <% if note.count.present? %>
                  <span>個</span>
                <% end %>
            </div>

            <div class="comment">
              <% note.comments.each do |comment| %>
                <div class="comment_list">
                  <%= link_to comment.content ,"/comments/#{comment.id}", method: :delete,data:{confirm: "本当に削除しますか?"} %>
                    <span> : </span>
                  <%= comment.user.name %>
                </div>
              <% end %>
            </div>
          </div>
        </li>
        <li><button type="button" class="btn js_count_btn" data-toggle="modal" data-target="#count_Modal" value="<%= note.id %>" id="js_count">数量</button></li>
        <li><button type="button" class="btn js_comment_btn" data-toggle="modal" data-target="#comment_Modal" value="<%= note.id %>" id="js_comment btn2">メモ</button></li>
      </ul>
    </div>
    <div class="time"><%= note.created_at.to_s(:datetime) %></div>


  <% end %>

<% else %>
  <p>現在買うものはありません</p>
<% end %>

<div class = "destroy">
  <%= f.submit '購入済み', class: 'btn btn btn-warning' %>
</div>

<% end %>

<!-- 数量入力用モーダル -->
<div class="modal fade" id="count_Modal" tabindex="-1" role="dialog" aria-labelledby="count_ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with url: count_path do |f| %>
        <h4 class="modal-title" id="comment_ModalLabel">数量入力欄</h4>
          <div class="modal-body">
            <%= hidden_field_tag :note_id, "", {id: "count_id"} %>
            <%= f.select :count, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]],
                { include_blank: true, selected: 1 }, { id: "user_id", class: "user_class" } %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
            <%= f.submit "投稿する", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<!-- コメント入力用モーダル -->
<div class="modal fade" id="comment_Modal" tabindex="-1" role="dialog" aria-labelledby="comment_ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with url: comment_path do |f| %>
        <h4 class="modal-title" id="comment_ModalLabel">コメント入力欄</h4>
        <div class="modal-body">
          <%= hidden_field_tag :note_id, "", {id: "comment_id"} %>
          <%= f.text_area :content, size: "10x5", class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="form_body">
  <%= form_with url: notes_path do |f| %>

      <%= f.text_field :content,class:'form form-control' , placeholder: "商品名を入力(複数ある場合は間に空白を入れて入力してください)" %>　
      <div class="note_form">　　　
      <%= f.label :image, class:'image_form' do %>
      <label>
        <i class="fa fa-image "></i>
        <%= f.file_field :image, class: "file_field" %>
      </label>
      <% end %>
      <%= link_to favorite_items_path, class:"btn btn-dark" do %>
      <i class="fa fa-star" aria-hidden="true"></i>
      <% end %>
      <%= f.submit "投稿", class: "btn btn-primary form-btn " %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
$('.js_count_btn').click(function() {
$('#count_id').val(this.value);
});
$('.js_comment_btn').on('click', function () {
$('#comment_id').val(this.value);
})
</script>
