
<%= form_with url: note_path do |f| %>
  <% if @feed.present? %>
    <% @feed.each do |i| %>
    <div class="note_user">
    <%= i.user.name %>
    </div>
    <%= check_box_tag 'i[id][]', i.id, checked = false, :id => "note_#{i.id}" %>

    <button type="button" class="btn btn-lite"><%= i.content %></button>


    <div class="time"><%= i.created_at.to_s(:datetime) %></div>

    <% end %>
  <% else %>

    <p>現在買うものはありません</p>

  <% end %>

  <div class = "destroy_many">
        <%= f.submit '一括削除', class: 'btn btn btn-default' %>
      </div>
    <% end %>
