
<p>お気に入り商品一覧</p>

<% if @favorite_items.present? %>
  <%= form_with url: post_favorite_items_path do |f| %>

      <p>-あ行-</p>
          <% @A_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-か行-</p>
          <% @K_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-さ行-</p>
          <% @S_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-た行-</p>
          <% @T_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-な行-</p>
          <% @N_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-は行-</p>
          <% @H_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-ま行-</p>
          <% @M_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-や行-</p>
          <% @Y_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-ら行-</p>
          <% @R_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-わ行-</p>
          <% @W_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %><br/>

      　<p>-その他-</p>
          <% @other_line.each do |item| %>
            <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
            <%= item.name %>
          <% end %>

          <li><%= link_to "登録ページへ移動",new_favorite_item_path, class:"btn btn-dark" %></li>
          <li><%= link_to "戻る",:back , class:"btn btn-dark" %></li>

    <% if params[:group_id].present? %>

      <%= f.hidden_field :group_id, :value => params[:group_id] %>

    <% end %>

  <div class= "form_body">
    <div class="form_title">投稿したい商品を選択し、投稿ボタンを押してください</div>

      <div class="f_item_form">
      <%= f.submit "投稿",class:"btn btn-primary" %>
      </div>
      <% end %>
  </div>

<% else %>

  <p>現在お気に入り商品はありません</p>
  <li><%= link_to "登録ページへ移動",new_favorite_item_path, class:"btn btn-dark" %></li>
  <li><%= link_to "戻る",:back , class:"btn btn-dark" %></li>

<% end %>
