<p>お気に入り商品一覧</p>

<% if @favorite_items.present? %>

  <%= form_with url: post_favorite_items_path do |f| %>

    <% @favorite_item_groups.each do |item_group| %>
      <p>-<%= item_group[:idx] %>-</p>
      <% item_group[:items].each do |item| %>
        <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
        <%= item.name %>
      <% end %><br/>
    <% end %>

      <ul class="f_item_link">
        <li><%= link_to "登録ページへ移動",new_favorite_item_path, class:"btn btn-dark favorite_back_btn" %></li>
        <li><%= link_to "戻る",:back , class:"btn btn-dark favorite_back_btn" %></li>
      </ul>

    <% if params[:group_id].present? %>

      <%= f.hidden_field :group_id, :value => params[:group_id] %>

    <% end %>

  <div class= "form_body" id="searches_form">
    <div class="form_title">投稿したい商品を選択し、投稿ボタンを押してください</div>

      <div class="f_item_form">
      <%= f.submit "投稿",class:"btn btn-primary" %>
      </div>
      <% end %>
  </div>

<% else %>

  <p>現在お気に入り商品はありません</p>
  <ul class="f_item_btn">
    <li><%= link_to "登録ページへ移動",new_favorite_item_path, class:"btn btn-dark" %></li>
    <li><%= link_to "戻る",:back , class:"btn btn-dark" %></li>
  </ul>
<% end %>
