<p>お気に入り商品登録</p>

<% if @item_exists %>

  <%= form_with url: favorite_items_destroy_path do |f| %>

    <% @favorite_item_groups.each do |key, items| %>
      <p>-<%= key %>-</p>
      <% items.each do |item| %>
        <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
        <%= item.name %>
      <% end %><br/>
    <% end %>

    <div class="f_item_link"><%= link_to "戻る",:back , class:"btn btn-dark favorite_back_btn" %></div>

  　<%= f.submit "商品をまとめて削除",class:"btn btn-warning destroy" %>

  <% end %>

  <div class= "form_body" id="favorite_form">

      <div class="f_item_form">
        <p class="form_title">一覧に追加したい商品を入力してください</p>
        <%= form_with model: @favorite_item do |f| %>
          <%= f.text_field :name, class: "form-control", placeholder:'商品名を入力(複数ある場合は間に空白を入れて入力してください)' %>
          <%= f.submit "登録",class:"btn btn-primary" %>
        <% end %>
      </div>
  </div>

<% else %>

  <p>現在お気に入り商品はありません</p>
  <ul>
　<li><%= link_to "戻る",:back , class:"btn btn-dark" %></li>
  </ul>
  <div class= "form_body" id="favorite_form">
      <div class="f_item_form">
        <p class="form_title">一覧に追加したい商品を入力してください</p>
        <%= form_with model: @favorite_item do |f| %>
          <%= f.text_field :name, class: "form-control", placeholder:'商品名を入力(複数ある場合は間に空白を入れて入力してください)' %>
          <%= f.submit "登録",class:"btn btn-primary" %>
        <% end %>
      </div>
  </div>
<% end %>
