
<p>お気に入り商品編集</p>

<% if @favorite_items.present? %>

  <%= form_with url: favorite_items_destroy_path do |f| %>

    　<p>-あ行-</p>
        <% @A_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-か行-</p>
        <% @K_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-さ行-</p>
        <% @S_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-た行-</p>
        <% @T_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-な行-</p>
        <% @N_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-は行-</p>
        <% @H_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-ま行-</p>
        <% @M_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-や行-</p>
        <% @Y_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-ら行-</p>
        <% @R_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-わ行-</p>
        <% @W_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %><br/>

    　<p>-その他-</p>
        <% @other_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>


  　<div class="destroy">
  　  <%= f.submit "商品をまとめて削除",class:"btn btn-warning" %>
  　</div>
  <% end %>

  <div class= "form_body">

      <div class="f_item_form">
        <p class="form_title">一覧に追加したい商品を入力してください</p>
        <%= form_with model: @favorite_item do |f| %>
          <%= f.text_field :name, class: "form-control", placeholder:'商品名を入力(複数ある場合は間に空白を入れて入力してください)' %>
          <%= f.submit "登録",class:"btn btn-primary" %>
        <% end %>
      </div>
  </div>
<% else %>

  <p>現在お気に入り商品はありません</p>

  <div class= "form_body">
      <div class="f_item_form">
        <p class="form_title">一覧に追加したい商品を入力してください</p>
        <%= form_with model: @favorite_item do |f| %>
          <%= f.text_field :name, class: "form-control", placeholder:'商品名を入力(複数ある場合は間に空白を入れて入力してください)' %>
          <%= f.submit "登録",class:"btn btn-primary" %>
        <% end %>
      </div>
  </div>
<% end %>
