

<p>お気に入り商品一覧</p>

<% if @favolite_items.present? %>

  <%= form_with url: bluk_posting_product_registrations_path do |f| %>
    <div class="item_list">
    　<p>-あ行-</p>
        <% @A_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-か行-</p>
        <% @K_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-さ行-</p>
        <% @S_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-た行-</p>
        <% @T_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-な行-</p>
        <% @N_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-は行-</p>
        <% @H_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-ま行-</p>
        <% @M_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-や行-</p>
        <% @Y_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-ら行-</p>
        <% @R_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-わ行-</p>
        <% @W_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>
    <div class="item_list">
    　<p>-その他-</p>
        <% @other_line.each do |item| %>
          <%= check_box_tag 'item[id][]', item.id, checked = false, :id => "item_#{item.id}" %>
          <%= item.name %>
        <% end %>
    </div>











  　　　<div class="bluk_posting_button">
    <%= f.submit "商品をまとめて投稿",class:"btn btn_primary" %>
       </div>
  <% end %>

  <div class= "forms">
    <div class="form_title">一覧に追加したい商品を入力してください</div>

    <%= form_with model: @product_registration do |f| %>
      <div class = "form_body">
      <%= f.text_field :name, class: "form-control", placeholder:'商品名を入力(複数ある場合は","で区切る)' %>

      <%= f.submit "登録",class:"btn btn_primary" %>
      </div>
      <% end %>
  </div>

<% else %>

  <p>現在お気に入り商品はありません</p>

  <div class= "forms">
    <div class="form_title">一覧に追加したい商品を入力してください</div>

    <%= form_with model: @product_registration do |f| %>

      <%= f.text_field :name, class: "form-control", placeholder:'商品名を入力(複数ある場合は","で区切る)' %>

      <%= f.submit "登録",class:"btn btn_primary product_registrations_form_btn " %>

      <% end %>
  </div>
<% end %>
