
<p>グループ情報編集</p>

<p>下記項目を入力してグループ情報変更ボタンを押してください</p>

<div class = "group_form">

  <%= form_with model: @group do |f| %>

    <div>
      <%= f.label :"名前" %>
      <%= f.text_field :name, class:'form-control' %>
    </div>

    <div>
      <%= f.label :"グループプロフィール" %>
      <%= f.text_area :profile, class:'form-control' %><br />
    </div>

    <div class="custom-file">
      <%= f.file_field :image, class: "custom-file-input" ,id: "customFile" %>
      <label class="custom-file-label" for="customFile">アイコンにする画像を選んでください</label>
    </div>

    <div>
      <br /><%= f.submit "グループ情報変更", class:"btn btn-primary" %>
    </div>
  <% end %>

</div>

<script type="text/javascript">
$('.custom-file-input').on('change',function(){
  $(this).next('.custom-file-label').html($(this)[0].files[0].name);
})
</script>
