
<p>グループ情報編集</p>

<p>下記項目を入力して送信ボタンを押してください</p>

<div class = "group_form">

  <%= form_with url: @group do |f| %>



    <%= f.label :"名前" %>
    <%= f.text_field :name, class:'form-control' %>

    <%= f.label :"グループプロフィール" %>
    <%= f.text_area :profile, class:'form-control' %>


    <%= f.submit "ユーザー登録完了", class:"btn btn_primary" %>

  <% end %>

</div>
