<p>グループ作成</p>

<p>下記項目を入力して送信ボタンを押してください</p>

<div class = "group_form">

  <%= form_with url: groups_path do |f| %>
    <div>
      <%= f.label :"名前" %>
      <%= f.text_field :name, class:'form-control' %>
    </div>

    <div>
      <%= f.label :"グループプロフィール" %>
      <%= f.text_area :profile, class:'form-control' %>
    </div>

    <div class="field">
      <%= f.label :グループアイコン, class:'image_form' do %>
      <label>
        <div class="btn btn_deault">グループアイコンを選択</div>
        <%= f.file_field :image, class: "image_form_title" %>
      </label>
      <% end %>
    </div>

    <div>
    <%= f.submit "グループ登録完了", class:"btn btn_primary" %>
    </div>
  <% end %>

</div>
