<p>グループ作成</p>

<p>下記項目を入力してグループ登録完了ボタンを押してください</p>

<div class="group_form">

  <%= form_with model: @group do |f| %>

    <div>
      <%= f.label :"名前" %><i>(必須)</i>
      <%= f.text_field :name, class:'form-control',placeholder: "例:○○家のおつかいリスト" %>
    </div>

    <div>
      <%= f.label :"グループプロフィール" %>
      <%= f.text_area :profile, class:'form-control',placeholder: "例:美味しく安く生活！おやつは300円まで！笑" %><br />
    </div>

    <div>
      <br /><%= f.submit "グループ登録完了", class:"btn btn-primary" %>
    </div>
  <% end %>

</div>
