
  <% if @request.present? %>

    <% @request.each do |request| %>
        <ul>
　　　　　　<li><img src= "<%= request.group.image %>" class="image_icon" alt=""></li>
          <li><%= request.group.name %></li>
          <li>
            <%= form_with url:join_group_path(request.group_id) do |f| %>

              <%= f.hidden_field :user_id, :value => current_user.id %>

              <%= f.submit "グループに入る",class: "btn btn-primary" %>

            <% end %>
          </li>
        </ul>
    <% end %>
  <% else %>

   <p>現在グループリクエストはありません</p>

  <% end %>
