  <ul class="group_info">
  <li><h3>グループ名:<%= @group.name %></h3></li>
  <li><img src= <%= @group.image %> class= "image_icon" alt="/assets/default_group_icon.png"></li>
</ul>

　<p>グループプロフィール</p>
    <div class="group_profile">
      <%= @group.profile %>

    </div>

    <%= link_to "グループ情報編集",edit_group_path(@group.id) %>

  <h3>所属メンバー名</h3>
    <% @members.each do |member| %>
      <ul>
        <li><%= member.name %></li>
      </ul>
    <% end %>

  <div class="forms">
    <%= render 'searches/searches_form' %>
  </div>
