<ul class="group_info">
  <li><h2>グループ名:<%= @group.name %></h2></li>
  <% if @group.image.present? %>
    <li><img src= "<%= @group.image %>" class="image_icon"></li>
  <% else %>
    <li><img src= "/assets/default_group_icon.png" class="_show_group_icon"></li>
  <% end %>
</ul>

<p>所属メンバー名</p>
  <% @members.each do |member| %>
    <ul>
      <li><%= member.user.name %></li>
      <% if member.user.image.present? %>
        <li><img src= "<%= member.user.image %>" class="image_icon"></li>
      <% else %>
        <li><img src= "/assets/default_user_icon.jpg" class="image_icon"></li>
      <% end %>
    </ul>
  <% end %>

<p>グループプロフィール</p>
  <div class="group_profile">
    <%= @group.profile %>
  </div>

<p><%= link_to "グループ情報編集",edit_group_path(@group.id) %></p>

<div class="form_body" id="searches_form">
  <div class="form_title">招待したいユーザーを検索</div>

  <%= form_with url: index_path, method: :get, local: true do |f| %>
      <%= f.hidden_field :group_id, :value => @group.id %>
      <%= f.text_field :name,class:'form-control search_form', placeholder: "ユーザー名を入力" %>
      <%= f.submit "検索", class: "btn btn-light" %>
  <% end %>
</div>
