<h3>グループ名:<%= @group.name %></h3>

<h4>グループプロフィール</h4>
<div class="group_plofile">
  <%= @group.profile %>
</div>

<h3>所属メンバー名</h3>
  <% @members.each do |member| %>
    <ul>
      <li><%= member.name %></li>
    </ul>

<a class= "dropdown-item"<%= link_to "ユーザー情報編集",edit_group_path(@group.id) %></a>

  <% end %>

  <div class="forms">
    <%= render 'searches/searches_form' %>
  </div>
