<h4>利用手順一覧</h4><br />

  <div><%= link_to "1.買い物メモの投稿","#"  %></div>
  <div><%= link_to "2.お気に入り商品の登録","#"  %></div>
  <div><%= link_to "3.お気に入り商品の投稿","#" %></div>
  <div><%= link_to "4.グループの作成" ,"#" %></div>
  <div><%= link_to "5.グループへの招待" ,"#" %></div>
