<div class="container-fluid">

<h4>利用手順</h4><br />

  <div class="row">
    <div class="col-lg-6 col-xl-6" >

        <i><ユーザー登録方法></i>
        <p>アプリ使用のため、ますはこちらから<%= link_to "新規登録",signup_path %>ページに移動して、新規登録を行ってください</p>
        <small>(ユーザー情報を編集したい場合は、上部メニューの[ユーザー情報]>[ユーザー情報編集]<br />ボタンをクリックし、編集ページにて変更手続きを行なってください)</small>

        <%= form_with url:"#" do |f| %>

          <div class="field">
            <%= f.label :ユーザー名 %><br />
            <%= f.text_field :name,autocomplete: "name",autofocus: true,class:"form-control",placeholder: "ここにあなたの名前を入力" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder: "ここにメールアドレスを入力" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder: "6文字以上の英数字を組み合わせたパスワードを入力" %>
          </div>

          <div class="field">
            <%= f.label :パスワード確認用 %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",placeholder: "確認のためパスワードを再度入力" %>
          </div><br />

          <div class="custom-file">
            <%= f.file_field :image, class: "custom-file-input" ,id: "customFile" %>
            <label class="custom-file-label" for="customFile">アイコンにする画像を選んでください</label>
          </div>

          <div class="actions">
            <br /><%= f.submit "登録完了",class:"btn btn-primary" %>
          </div>
        <% end %>


        <script type="text/javascript">
        $('.custom-file-input').on('change',function(){
          $(this).next('.custom-file-label').html($(this)[0].files[0].name);
        })
        </script>
    </div>

  <div class="col-lg-6 col-xl-6">
    <!-- <div class="group_registration h-100"> -->
      <i><グループの作成方法></i>
        <p>1. 複数人で買い物メモを共有したい場合は、上部メニューの<br />[グループ情報]>[グループ作成]ボタンをクリックし、作成ページにて変更手続きを行なってください</p>
        <%= form_with url:"#" do |f| %>
          <div>
            <%= f.label :"名前" %>
            <%= f.text_field :name, class:'form-control',placeholder: "例:○○家のおつかいリスト" %>
          </div>

          <div>
            <%= f.label :"グループプロフィール" %>
            <%= f.text_area :profile, class:'form-control',placeholder: "例:美味しく安く！無駄遣い厳禁！笑" %><br />
          </div>

          <div>
            <br /><%= f.submit "グループ登録完了", class:"btn btn-primary",placeholder: "ここに名前を入力" %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-xl-6">
        <i><メモの投稿方法><i>
          <%= check_box_tag :sample %>
         <div class="note btn btn-light" >
           <ul>
             <li>
               <div class="note_body">
                 <div class="note_content">
                   <h5>肉</h5>
                 </div>
               </div>
             </li>
             <li><button type="button" class="btn js_count_btn" data-toggle="modal" data-target="#count_Modal" id="js_count">数量</button></li>
             <li><button type="button" class="btn js_comment_btn" data-toggle="modal" data-target="#comment_Modal"  id="js_comment btn2">メモ</button></li>
           </ul>
         </div>
         <h8>太郎</h8><br />
         <h8 class="time">1月23日</h8>
         <h8 class="time">6:78</h8>


         <%= check_box_tag :sample %>
         <div class="note btn btn-light" >
           <ul>
             <li>
               <div class="note_body">
                 <div class="note_content">
                   <h7>シャンプー<small> 3個</small></h7>
                 </div>

                 <div class="comment">
                     <div class="comment_list">
                        <h8>100円以下 : 太郎</h8><br />
                        <h8>鮮度の良いもの : 花子</h8>
                     </div>
                 </div>
               </div>
             </li>
             <li><button type="button" class="btn js_count_btn" data-toggle="modal" data-target="#count_Modal" id="js_count">数量</button></li>
             <li><button type="button" class="btn js_comment_btn" data-toggle="modal" data-target="#comment_Modal"  id="js_comment btn2">メモ</button></li>
           </ul>
         </div>
         <h8>裕美</h8><br />
         <h8 class="time">4月45日</h8>
         <h8 class="time">6:78</h8>
         <div class= 'btn btn btn-warning'>購入済み</div>

         <div class="form">

           <%= form_with url: "#" do |f| %>

             <div class="test_form_body">
               <div class="test_form_title">
                 <span>画像投稿用　お気に入り商品投稿用</span>
               </div>

               <%= f.text_field :content,class:'form', placeholder: "買うものを入力" %>　　　　　
               <%= f.label :image, class:'image_form' do %>
               <label>
                 <i class="fa fa-image btn btn-dark " id="image" style="font-size: 25px;" ></i>
                 <%= f.file_field :image, class: "form-image" %>
               </label>
               <% end %>
               <%= link_to "#", class:"btn btn-dark" %>
               <i class="fa fa-star" aria-hidden="true"></i>

               <%= f.submit "投稿", class: "btn btn-primary form-btn " %>
               <% end %>
             </div>
         </div>



   <!-- 数量入力用モーダル -->
   <div class="modal fade" id="count_Modal" tabindex="-1" role="dialog" aria-labelledby="count_ModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <%= form_with url: "#" do |f| %>
           <h4 class="modal-title" id="comment_ModalLabel">数量入力欄</h4>
             <div class="modal-body">
               <%= hidden_field_tag :note_id, "", {id: "count_id"} %>
               <%= f.select :count, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]],
                   { include_blank: true, selected: 1 }, { id: "user_id", class: "user_class" } %>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
               <%= f.submit "投稿する", class: "btn btn-primary" %>
             </div>
         <% end %>
       </div>
     </div>
   </div>

   <!-- コメント入力用モーダル -->
   <div class="modal fade" id="comment_Modal" tabindex="-1" role="dialog" aria-labelledby="comment_ModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <%= form_with url: "#" do |f| %>
           <h4 class="modal-title" id="comment_ModalLabel">コメント入力欄</h4>
           <div class="modal-body">
             <%= hidden_field_tag :note_id, "", {id: "comment_id"} %>
             <%= f.text_area :content, size: "10x5", class: "form-control" %>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
             <%= f.submit "投稿する", class: "btn btn-primary" %>
           </div>
         <% end %>
       </div>
     </div>
    </div>

    <div class="col-lg-6 col-xl-6">
        <i><ユーザー登録方法></i>
        <p>アプリ使用のため、ますはこちらから<%= link_to "新規登録",signup_path %>ページに移動して、新規登録を行ってください</p>
        <small>(ユーザー情報を編集したい場合は、上部メニューの[ユーザー情報]>[ユーザー情報編集]<br />ボタンをクリックし、編集ページにて変更手続きを行なってください)</small>

        <%= form_with url:"#" do |f| %>

          <div class="field">
            <%= f.label :ユーザー名 %><br />
            <%= f.text_field :name,autocomplete: "name",autofocus: true,class:"form-control",placeholder: "ここにあなたの名前を入力" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control",placeholder: "ここにメールアドレスを入力" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder: "6文字以上の英数字を組み合わせたパスワードを入力" %>
          </div>

          <div class="field">
            <%= f.label :パスワード確認用 %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",placeholder: "確認のためパスワードを再度入力" %>
          </div><br />

          <div class="custom-file">
            <%= f.file_field :image, class: "custom-file-input" ,id: "customFile" %>
            <label class="custom-file-label" for="customFile">アイコンにする画像を選んでください</label>
          </div>

          <div class="actions">
            <br /><%= f.submit "登録完了",class:"btn btn-primary" %>
          </div>
        <% end %>


        <script type="text/javascript">
        $('.custom-file-input').on('change',function(){
          $(this).next('.custom-file-label').html($(this)[0].files[0].name);
        })
        </script>
    </div>


  </div>
</div>
