<!-- MEMO: サインイン前とサインイン後の view ファイルを分けた方が見通しが良さそう -->
<%if user_signed_in? %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-12 d-block d-md-none promotion_sm">
            <p>広告スペース(小)</p>
          </div>
          <div class="col-md-2 d-none d-md-block promotion_bg">
            <p>広告スペース(大)</p>
          </div>

          <div class="col-md-8 chatroom_info">
            <!-- MEMO: ここの分岐もパーシャルにした方が良い -->
          <%= form_with url: note_path do |f| %>

            <% if @own_notes.present? %>

              <% @own_notes.each do |note| %>

                <%= check_box_tag 'note[id][]', note.id, checked = false, :id => "note_#{note.id} " %>

                <div class="btn btn-dark note">
                  <ul>
                    <li>
                      <div class="note_body">
                        <div class="note_content">
                          <%= note.content %>
                          <% if note.image.present? %>
                            <img src="<%= note.image %>"class="note_image" >
                          <% end %>
                          <%= note.count %>
                            <% if note.count.present? %>
                              <span>個</span>
                            <% end %>
                        </div>


                      </div>
                    </li>
                    <li><button type="button" class="btn btn-secondary js_count_btn" data-toggle="modal" data-target="#count_Modal" value="<%= note.id %>" id="js_count"><i class="fa fa-sort" aria-hidden="true"></i></button></li>
                    <li><button type="button" class="btn btn-secondary js_comment_btn" data-toggle="modal" data-target="#comment_Modal" value="<%= note.id %>" id="js_comment"><i class="fa fa-pencil" aria-hidden="true"></i></button></li>
                  </ul>
                  <div class="comment">
                    <% note.comments.each do |comment| %>
                      <div class="comment_list">
                        <%= link_to comment.content ,"/comments/#{comment.id}", method: :delete,data:{confirm: "本当に削除しますか?"} %>
                          <span> : </span>
                        <%= comment.user.name %>
                      </div>
                    <% end %>
                  </div>
                </div>
          <div class="time"><%= note.created_at.to_s(:datetime) %></div>
              <% end %>

              <%= f.submit '購入しました', class: 'btn btn btn-warning destroy' %>

            <% else %>

              <p>現在買うものはありません</p>

            <% end %>
          </div>
          <% end %>
          <div class="col-md-2 d-none d-md-block promotion_bg">
            <p>広告スペース(大)</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


      <!-- 数量入力用モーダル -->
      <div class="modal fade" id="count_Modal" tabindex="-1" role="dialog" aria-labelledby="count_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= form_with url: count_path do |f| %>
              <h4 class="modal-title" id="comment_ModalLabel">数量入力欄</h4>
                <div class="modal-body">
                  <%= hidden_field_tag :note_id, "", {id: "count_id"} %>
                  <%= f.select :count, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]],
                      { include_blank: true, selected: 1 }, { id: "user_id", class: "user_class" } %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">戻る</button>
                  <%= f.submit "投稿する", class: "btn btn-primary" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>

      <!-- コメント入力用モーダル -->
      <div class="modal fade" id="comment_Modal" tabindex="-1" role="dialog" aria-labelledby="comment_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <%= form_with url: comment_path do |f| %>
              <h4 class="modal-title" id="comment_ModalLabel">コメント入力欄</h4>
              <div class="modal-body">
                <%= hidden_field_tag :note_id, "", {id: "comment_id"} %>
                <%= f.text_area :content, size: "10x5", class: "form-control" %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">戻る</button>
                <%= f.submit "投稿する", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

  <div class="form_body">
    <%= form_with url: notes_path do |f| %>

        <%= f.text_field :content,class:'form form-control' , placeholder: "商品名を入力(複数ある場合は間に空白を入れて入力してください)" %>　
        <div class="note_form_contents">　　　
        <%= f.label :image, class:'image_form' do %>
        <label>
          <i class="fa fa-image btn btn-dark "></i>
          <%= f.file_field :image, class: "file_field" %>
        </label>
        <% end %>
        <%= link_to favorite_items_path, class:"btn btn-dark" do %>
        <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
        <%= f.submit "投稿", class: "btn btn-primary form-btn " %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    // MEMO: Bootstarap はモーダルを開いた時のコールバックが設定できるのでこっちのが良い
    // $('#count_Modal').on('show.bs.modal', function(event) {
    //   console.log('open modal');
    //   console.log(event.relatedTarget);
    // });
  $('.js_count_btn').click(function() {
  $('#count_id').val(this.value);
  });
  $('.js_comment_btn').on('click', function () {
  $('#comment_id').val(this.value);
  })
  </script>

<% else %>

  <h1 class="app_title">
    有吉の買い物メモ<br>アプリへようこそ
  </h1>

<h3><a <%= link_to "ユーザー登録して利用開始！",signup_path %></a></h3><br />
<h5><a <%= link_to "登録済みの方はコチラから",new_user_session_path %></a></h5>

<% end %>
