<p>検索結果一覧</p>

<% if @search_users.present? %>
  <% @search_users.each do |user| %>
    <ul>
      <li>
        <%= user.name %>
      </li>
      <li>
        <%= form_with url:invite_group_path(user.id) do |f| %>

  　　　　 <%= f.hidden_field :user_id, :value => user.id %>
  　　　　　グループを選択：
          <%= f.collection_select :group_id,@groups.order(id: :desc),:id,:name %>

          <%= f.submit "グループ招待する",class: "btn btn-primary" %>

        <% end %>
      </li>
      <% if user.group_members.present? %>

      　<% user.group_members.each do |group| %>
          <li>
            <%= form_with url:invite_reset_group_path(user.id) do |f| %>

              <%= f.hidden_field :user_id, :value => user.id %>

              <%= f.hidden_field :group_id, :value => group.group_id %>

              <%= f.submit "#{group.group.name}グループへのリクエストを解除",class: "btn btn-default" %>

            <% end %>

          <% end %>
          </li>
        <% end %>
      </ul>
  <% end %>

<% else %>

<p>指定されたユーザーは存在しません</p>

<p><%= link_to "ユーザー一覧",signup_path %>を表示</p>

<% end %>



<div class="forms">
  <%= render 'searches/searches_form' %>
</div>
