<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/default' %>
  </head>

  <body>
  　<!-- <div class="container-fluid">
     <div class="row"> -->

    <%= render 'layouts/header' %>



    <%= render 'shared/error_messages' %>

    <!-- <div class="col-sm-2 col-md-2" id="left" >
    </div>
    <div class="col-sm-8 col-md-8"> -->
      <%= yield %>
    <!-- </div>
    <div class="col-sm-2 col-md-2" id="right">
    </div> -->

    <%= render 'layouts/footer' %>

  </body>
</html>
