<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/default' %>
  </head>

  <body>


    <%= render 'layouts/header' %>



    <%= render 'shared/error_messages' %>

      <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
