
    <h2>ユーザー情報変更 </h2>

    <i>変更したい情報と現在のパスワードを入力し、登録変更ボタンを押してください</i><br />

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ユーザー名 %><br />
        <%= f.text_field :name,autocomplete: "email" ,class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :新規パスワード %>
        <% if @minimum_password_length %>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control" ,placeholder: "6文字以上の英数字で入力してください" %>

      </div>

      <div class="field">
        <%= f.label :新規パスワード確認用 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control",placeholder: "確認のため再度入力してください" %>
      </div>

      <div class="field">
        <%= f.label :現在のパスワード %> <i>(必須)</i>
        <%= f.password_field :current_password, autocompletSe: "current-password" ,class: "form-control",placeholder: "本人確認のため必ず入力してください" %>
      </div><br />

      <div class="custom_file_title">アイコン画像</div>
      <div class="custom-file">
        <%= f.file_field :image, class: "custom-file-input" ,id: "customFile" %>
        <label class="custom-file-label" for="customFile">タップして画像を選択</label>
      </div>

      <div class="actions">
        <br /><%= f.submit "登録変更",class:"btn btn-primary" %>
      </div><br/>
    <% end %>

    <h4>アカウント削除</h4>

    <p>※一度削除したアカウントは元に戻せません<br/>
    希望の方は下記ボタンをクリックしてください
    <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete, class:"btn btn-warning" %></p>

    <script type="text/javascript">
    $('.custom-file-input').on('change',function(){
      $(this).next('.custom-file-label').html($(this)[0].files[0].name);
    })
    </script>
